@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  padding: 5px 6px;
  width: 100%;
  background: transparent;
}
.logoPreta {
    display: flex;
    justify-content: center;
}

.logoPretaImg {
    max-width: 200px;
    height: auto;
    display: flex;
    align-items: center;
}
:root{
  --ictus-red:#cf0909;
  --ictus-red-50: rgba(207,9,9,.45);   /* placeholder ofuscado */
}
.search-box{
  min-width:250px;
  display:flex;
  align-items:center;
  gap:10px;
  border:2px solid var(--ictus-red);
  border-radius:28px;
  padding:10px 14px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  background:#fff;
}
.si-search{ display:flex; justify-content:center; flex-direction: column; padding: 0px 10px;  }
.search-icon{
  font-size:22px;
  line-height:1;
  color:var(--ictus-red);
  opacity:.85;
}
.link-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.link-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.search-box input{
  border:none;
  outline:none;
  width:100%;
  font-size:22px;
  font-family:'Anton', sans-serif;
  color:var(--ictus-red);
  background:transparent;
}
.search-box input::placeholder{
  color:var(--ictus-red-50);          /* vermelho ofuscado */
}

.link {
    font-family: 'Anton', sans-serif; 
     list-style: none; 
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


@media (min-width: 1200px) {
  .container{
    display: flex;
    flex-direction: row;
    gap: 134px;
    padding: 20px 0px;
    }
}

@media (min-width: 1440px) {
  .container{
    display: flex;
    flex-direction: row;
    gap: 184px;
        padding: 20px 0px;
  } 
}