@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header {
  background-color: #ff0000; /* Fundo vermelho */
  color: #ffffff; /* Texto branco */
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  font-family: 'Anton', sans-serif; /* Usa a fonte Anton */
}

.header-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.logo img {
    width: 120px;
  
}

.logoPrincipal {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
  

.contact-info {
    margin-left: 120px;
  display: flex;
  align-items: center;
  gap: 80px; /* Espaçamento entre os itens de contato */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaçamento entre ícone e texto */
}


.contact-item span {
  font-size: 22px; /* Tamanho da fonte mantido */
}

.navbar-container {
    display: block;
    background-color: #fff; /* ou a cor desejada */
    width: 100%;
    padding: 10px 0;
}

.icon {
    width: 30px;
    height: 30px;
}

.logoPrincipal-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .logoPrincipal {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
  }
  .navbar-container {
    display: block;
    background-color: #ffffff;
    width: 100%;
    border: 4px solid #b30000;
    padding: 10px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Anton', sans-serif;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 25px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
  }
 
  .nav-links .link {
    text-decoration: none;
    color: #b30000; /* vermelho escuro */
    font-size: 32px;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .nav-links .link:hover {
    color: #b30000;
  }
  
  .search-box {
    width: 300px;
    display: flex;
    align-items: center;
    border: 2px solid #b30000;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    padding: 5px;
  }
  
  .search-icon {
    color: #ff0000;
    font-size: 18px;
    margin-right: 5px;
  }
  