@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.newsletter-container {
  padding: 10px;
  text-align: center;
}

.newsletter-text {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  color: #ff0000;
}

.newsletter-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  max-width: 350px;
  padding: 10px;
  border: 3px solid #ff0000;
  border-radius: 20px;
  color: #ff0000;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 22px;
  height: 45px; /* Define uma altura fixa para consistência */
}

.input-field::placeholder {
  color: #ff0000;
  opacity: 0.5;
  font-family: 'Anton', sans-serif;
  line-height: 1.5; /* Alinha verticalmente o placeholder */
  text-align: center; /* Garante centralização horizontal */
}

.submit-button {
  width: 150px;
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #cc0000;
}

@media (min-width: 768px) {
  .newsletter-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .input-field {
    width: 20%;
  }

  .submit-button {
    width: 15%;
  }

  .input-field::placeholder {
  color: #ff0000;
  opacity: 0.5;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5; /* Alinha verticalmente o placeholder */
  text-align: center; /* Garante centralização horizontal */
}
}